body
{
    position: relative;
    width: 600px;
    margin:auto;
   
}
body::after
{
 content: ' ';
 text-align: center;
 padding-top:30px;
  width: 100%;
  height:180px;
  display: block;
 
  background-image: url("Figures/kntu.png");
  background-size: 100px 100px;
  background-repeat:no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.fa
{
    direction: rtl;
}
.en
{
    direction: ltr;
}
.code
{
    direction: ltr;
}


.content
{
    text-align: justify;
    line-height: 1.5;
}
.content::before
{
    content:"In the name of God";
    text-align:center;
    width:600px;
    line-height: 1;
    margin:auto;
    position:absolute;
    
}
#instructor {
    text-align: center;
    padding-right:100px;
    padding-left:100px;
    padding-bottom: 30px;
    }

#course_title{
    font-size: 150%;
    text-align: center;
    line-height: .5;
    margin-bottom:10px;
}

#kntu_logo
{
    width: 100px; 
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-top:5px;
}
.content h1{
        text-align: center;
        line-height: 1;
        padding-top: 100px;
    }

