

.question_list
{
    padding-left:20px;
    counter-reset: question;    
}
.question
{
  padding-top: 40px;
}
.question .topic::before
{
  counter-increment: question;                   /* Increment the value of section counter by 1 */
  content:  counter(question) "- "; 
} 
.question_list>.topic {
    font-weight: bold;
    font-size: 25px;
    padding:20px;
    text-align: center;
  }   
.question>.topic {
    font-weight: bold;
    font-size: 16px;
  }

.question .description
  {
      padding-right:30px;
      padding-bottom:5px;
  }

.question img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}