* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
    color-adjust: exact !important;   
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;              /*Firefox*/
}

body
{
    position: relative;
    width: 600px;
    margin:auto;
   
}
body::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.13;
    background-image: url('figures/kntu.png');
    background-repeat:no-repeat;
    background-position: center middle;
    background-attachment:fixed;
    background-position: 50% 0;
    background-size: 600px 600px;
    
    
    
    
}
.content
{
    opacity: 1;
    text-align: justify;
    line-height: 3;
    padding: 100px;
    text-align: justify;
    line-height: 1.5;
}
.author {
    text-align: center;
    
    }

h1 {
        text-align: center;
    }
.section h2::before
{
    content:"سوالات فصل "
}    
h2 {
    text-align: center;
}
.fa{ direction:rtl}

div.en{
    display:inline;
}
div.footer::before
{
content:"(" ;
}
div.footer::after
{
content:")" ;
}

.alternative::before
{
    content:"سوال مشابه:"
}